@model IEnumerable<Certificate_Credentials.Models.interns_tbl>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "credentials", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchTerm")
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <!-- Add table headers here -->
        <tr>
            <th>Intern Name</th>
            <th>Intern Email</th>
            <!-- Add other headers... -->
        </tr>

        <!-- Display search results -->
        @foreach (var intern in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => intern.internname)</td>
                <td>@Html.DisplayFor(modelItem => intern.internemail)</td>
                <!-- Display other properties... -->
            </tr>
        }
    </table>
}
else
{
    <p>No search results found.</p>
}
